<% if users.empty? %>
  <p><%= "#{title}が存在しません" %></p>
<% else %>

  <h1><%= title %></h1>

  <table>
    <thead>
      <tr>
        <th></th>
        <th><%= User.human_attribute_name(:email) %></th>
        <th><%= User.human_attribute_name(:name) %></th>
        <th><%= User.human_attribute_name(:postal_code) %></th>
        <th><%= User.human_attribute_name(:address) %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% users.each do |user| %>
        <tr>
          <th>
            <% if user.avatar.attached? %>
              <%= image_tag user.avatar.variant(resize_to_fill: [30, 30])%>
            <% end %>
          </th>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= user.postal_code %></td>
          <td><%= user.address %></td>
          <td><%= link_to t('views.common.show'), user %></td>
          <td>
            <%= render 'follow_button', user: user unless current_user?(user) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate users %>
  
<% end %>
