<%# Todo i18n %>
<h1>User</h1>

<%# Todo i18n %>
<div class="user-main-container">
  <p>
    <strong>ユーザー名</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>メールアドレス</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>郵便番号</strong>
    <%= @user.postal_code %>
  </p>

  <p>
    <strong>住所</strong>
    <span>
      <%= @user.prefecture %> <%= @user.city %> <%= @user.ward %> <%= @user.town %><br>
      <%= @user.address_number %> <%= @user.building_name %>
    </span>
  </p>

  <p>
    <strong>自己紹介</strong>
    <%= @user.introduction %>
  </p>
</div>

<%= link_to t('views.common.back'), users_path %>
